.header {

    // .header__container

    &__container {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        
        
    }

    // .header__logo

    &__logo {
        margin-left: 20px;
    }

    // .header__nav

    &__nav {
        display: flex;
        gap: 60px;
        margin-right: 100px;
    }

    // .header__item

    &__item {
    }

    // .header__item--link

    &__item--link {
        color: black;
        text-decoration: none;
        font-size: 20px;
        border-bottom: 4px solid transparent;
        transition: 0.3s ease;

        &:hover {
            border-bottom: 4px solid #756aee;
        }
    }
}