html,
body {
  position: relative;
  height: 100%;
}

body {
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 80%;
  
}

.swiper-slide {
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  background: url(../images/computer-ultrabook-dell-xps-15-ios.webp) center/cover;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;

  & h2 {
    font-size: 100px;
    
  }

  & p {
    font-size: 25px;
  }

  & a {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    width: 200px;
    height: 70px;
    background: #756aee;
    padding: 25px;
    color: white;
    transition: .3s linear;
    animation: button 0.3s;

    @keyframes button {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
    }}

    &:hover {
        background: #000;
    }

  }

  &:nth-child(2) {
    background: url(../images/klaviatura-ico-keyboard-buttons-knopki-white-gold-zoloto.webp) center/cover;
  }
  &:nth-child(3) {
    background: url(../images/stress-ball-notebook-fingers.webp) center/cover;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}